<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.doq">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.application.doq.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:label="doQ"
            android:name="com.application.doq.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.application.doq.services.SpotifyNotificationListener"
            android:exported="false"
            android:label="@string/spotify_notification_listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.application.doq.services.SessionService"
            android:label="@string/session_service"/>
        <service
            android:name="com.application.doq.SpotifyRemoteService"
            android:label="@string/spotify_remote_service"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>